$font-family-base: "Roboto", "Noto Sans TC", sans-serif;

$font-size-base: 1rem; //16px
$font-size-1: $font-size-base * 1.125; //18px
$font-size-2: $font-size-base * 1.25; //20px
$font-size-3: $font-size-base * 1.5; //24px
$font-size-4: $font-size-base * 2.25; //36px
$font-size-5: $font-size-base * 3; //48px
$font-size-6: $font-size-base * 4; //64px

$color-light-white: #ffffff;
$color-white: #f2f2f2;
$color-light-red: #aa0601;
$color-red: #9f1213;
$color-dark-red: #650300;
$color-light-gray: #ced4da;
$color-gray: #707070;
$color-dark-gray: #495057;
$color-black: #000000;
